$theme-colors: (
	'primary': #0091ea,//Covalence Blue!  :D
	'secondary': #5466AA
);

.nav-link {
	text-decoration: none;
}

.search-bar {
	height: 0px;
	width: 100%;
	display: block;
	opacity: 0;
	transition: height 2s, opacity 2s;
}

.search-bar-active {
	height: 50px;
	opacity: 1;
}

.nav-link {
	text-decoration: none;
}

.image {
	max-width: 300px;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
